
  <%= form_for @page_attachment, html: { multipart: true } do |f| %>
  <% if @page_attachment.errors.any? %>
    <div class="errors" %>
      <h2><%= pluralize(@page_attachment.errors.count, "error") %>
        prevented this Image from saving</h2>
        <ul>
        <%= @page_attachment.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
  <% end %>

<div class="choose-file-field">
  <%= form_for @page_attachment, :url => new_page_attachment_path, :html => { :multipart => true } do |form| %>
    <%= form.file_field :image %>
  </div><br>

    <div class="form-group">
      <%= f.text_area :title, placeholder: "Enter Title" %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, placeholder: "Enter Description" %><br>
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
    <% end %>
<% end %>
