<div class="show_page_content">
  <div class="box">
    <%= image_tag @page_attachment.image.url(:medium) %>
    <h2><%= @page_attachment.title %></h2>
    <p><%= @page_attachment.description %></p>

  <div class="btn-group.pull-right">
    <%= link_to like_page_attachment_path(@page_attachment), method: :put, class: "glyphicon glyphicon-heart" do %>
        <%= @page_attachment.get_upvotes.size %>
    <% end %>
  </div>
    <br>
    <div class="home_edit_delete_field">
    <% if current_user.present? %>
      <%= link_to "Home", root_path %> |
      <%= link_to "Edit", edit_page_attachment_path %> |
      <%= link_to "Delete", page_attachment_path, method: :delete, data: { confirm: "Are you sure you want to delete this page attachment?" } %>
      <br>
    </div>

    <div class="user">
      <p>Submitted by <%= @page_attachment.user.name %></p>
    </div>
  <% end %>
  </div>
</div>