
<!DOCTYPE html>
<html>
<head>
  <title>ScrapHappy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav-bar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "Home Page", root_path %>
      </div>
    </div>
      <% if user_signed_in? %>
        <p class="nav navbar-nav navbar-right">
          <%= link_to "Upload New Image", new_page_attachment_path %> |
          Hello <%= link_to current_user.email, edit_user_registration_path %>! <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <p class="nav navbar-nav navbar-right">
          <%= link_to "Sign Up", new_user_registration_path %> or
          <%= link_to "Sign In", new_user_session_path %>
      <% end %>
  </nav>
  <div class="content">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: 'alert alert-info' %>
  <% end %>
<%= yield %>
</div>
</body>
</html>